<!--sidebar column-->   
    <div ng-repeat="day in data.days" class="day">
    <div class="title"><h1>{{day.name | uppercase}}</h1></div>

    <div class="hours">     
    <form ng-submit="addTimes(day)" class="form-inline">
    <div class="form-group">
    <label>OPEN</label>
    <input ng-model="text.open" type="time" class="form-control" placeholder="Open">
     <label>CLOSE</label>
    <input ng-model="text2.close" type="time" class="form-control" placeholder="Close">
    </div>
    <div class="submit">
    <input type="submit" value="Submit">
    </div>
</form>
</div>

   