<!-- Right side of dashboard -->
 <div class="row rightTitle">
     <h1>Operating Hours</h1>
 </div>
  <div class="row fstRow">
   <div ng-repeat="day in data.days" class="col-md-2 col-md-offset-2 dash">
    <div class="col-md-12 inner">
              <div class="row dashTitle">
                  <h4>{{day.name | uppercase}}</h4>
              </div>
              <div class="row times">
                  <div ng-repeat="time in day.times" class="row selection">
                  <p>{{time.open | date: "hh:mma"}} - {{time.close | date: "hh:mma"}}</p>
                  </div>
      
                  
              </div>
    </div>
</div>
</div>
    